@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --background-color: #EEEEEE;
    --main-area-color: #FEFEFE;
    --footer-font-color: rgb(213, 241, 218);
    --link-font-color: rgb(113, 189, 96);
    --logo-background-color:  rgba(193, 194, 195, 0.485);
    --font-main-color: #FFF;
    --font-main: "Poppins", sans-serif;
    --font-form-color: #393939;
    --button-background-color: #4f944f;
    --font-size-main: 1rem;
    --font-size-second: 0.7rem;
    --font-h2: #3b3b3b;
}

*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
}
#imageSection{
    display: flex;
    flex-direction:column;
    justify-content:end;
    min-width: 40%;
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.links{
    text-decoration: none; 
    color: var(--link-font-color);
    text-decoration-line: underline;
}
#footer{
    color: var(--footer-font-color);
    align-self: center;
    margin-bottom: 2%;
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    margin-left: -1rem;
    margin-bottom: 53vh;
    background-color: var(--logo-background-color);
    color: var(--font-main-color);
    font-size: 2rem;
    font-weight: 400;
    font-family: "Roboto","Poppins", sans-serif;
}
#logo img{
    width: 5rem;
    height: 5rem;
}
#mainSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 60%;
    background-color: var(--background-color);
    font-family: var(--font-main);
    font-size: var(--font-size-second);
    color: var(--font-h2);
    gap: 1rem;
    
}
.backgroundArea{
    margin: 2rem 2rem;
}
.backgroundArea > h2{
    margin: 1rem 0rem 0rem 0rem;
}
#withoutButton{
    background-color: var(--main-area-color);
    box-shadow: 0px 1px 5px black;
    padding: 1rem 0rem;
}
#letsDoThis{
    margin: 0rem 2rem;
}
#formContainer{
    
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    margin: 1rem 2rem;
    margin-right: 15rem;
}
.form{
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}
.form label{
    font-family: "Roboto", sans-serif;
    color: var(--font-form-color);
    font-size: 0.6rem;
    font-weight: 800;
}
.form input{
    border: 1px solid;
    font-family: var(--font-main);
    background-color: var(--main-area-color);
    height: 1.5rem;
    width: 13rem;
    border-radius: 4px;
}
.form input:invalid{
    border-color: black;
}
button{
    margin: 1.5rem 0rem -1rem 2rem;
    font: var(--font-main);
    background-color: var(--button-background-color);
    color: var(--font-main-color);
    font-weight: 700;
    border: 1px black;
    border-radius: 5px;
    width: 15em;
    height: 3em;
}
.backgroundArea h3{
    margin-top: -2rem;
    font-weight: 500;

}
.backgroundArea h3 a{
    text-decoration: none;
    color: #4f944f;
}
#smallText{
    font-size: 0.8rem;
    font-family: "Roboto", sans-serif;
    color: #FF0000;
}